<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Api\Data\RuleDiscountInterface">
        <plugin name="sfx_label_discount_graphql_plugin" type="StorefrontX\ProductLabelsExtension\Model\Data\LabelDiscount"/>
    </type>
</config>
